html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: lightblue;
}

body, h1, h2, h3, h4, h5, h6, p, #myNavbar, a {
    font-family: "ADLaM Display", monospace;
    color: white;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bg-nav-trans {
    background-color: rgb(255 255 255 / 0.3);
     overflow: visible !important;
}

#myNavbar, #Logo-container, .w3-container {
    position: relative;
    z-index: 200;
     overflow: visible !important;
}

#myNavbar a {
    font-size: 24px;
}

.custom-nav-flex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-zone-left, .nav-zone-right {
    flex: 1;
    display: flex;
}

.nav-zone-left {
    justify-content: flex-start;
}

.nav-zone-right {
    justify-content: flex-end;
}

.nav-zone-center {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
/* Shifts the position of the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* The Blue Clickable/Hoverable Button */
.dropbtn {
  background-color: #db9334;
  color: white;
  padding: 8px 16px;
  font-size: 24px;
  font-family: "ADLaM Display", monospace;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* The Floating Menu Container Box */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  min-width: 220px;
  z-index: 10005 !important;
  border-radius: 4px;
}

/* Individual Links Inside The White Box Area */
.dropdown-content a {
  color: #333333 !important; /* Force black text against white background */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px !important;
  text-align: left;
}

/* Changes gray level during a selection item highlight */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Master triggers to fire up visual layout box on hover element state */
.dropdown:hover .dropdown-content {
  display: block !important;
}

/* Changes the colour of the dropdown button when hovered over */
.dropdown:hover .dropbtn {
  background-color: #c78530;
}

.box_1 {
    width: 442px;
    height: 600px;
    background-color: #fff6e4;
    transform:  translate(400px, 20px);
    border-radius: 20px;
}

.box_2 {
    width: 50em;
    height: 40em;
    background-color: #fff6e4;
    transform:  translate(62em, -38.6em);
    border-radius: 20px;
}