html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body,h1,h2,h3,h4,h5,h6, p, #myNavbar, a {
    font-family: "ADLaM Display", monospace;
    color: white;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

#myNavbar, #Logo-container, .w3-container {
    position: relative;
    z-index: 10;
}

#myNavbar a {
    font-size: 24px;
}

#Logo-container {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.Logo {
    width: 450px;
    height: auto;
}

#Border {
    position: fixed;
    width: 100vw;
    margin-top: 13em;
    padding: 260px 0px !important;
}

.BG-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: -20em;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    z-index: 100;
    margin-top: 12em;
}

.button-row a img {
    width: 200px;
    height: auto;
    display: block;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    z-index: 100;
    margin-top: -2em;
}

.image-row img {
    width: 395px;
    height: auto;
    display: block;
}

.Divider {
    position: fixed;
    top: -10%;
    left: 0%;
    width: 100%;
    max-width: 100%;
    height: auto;
}

