html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #589046
}

body,h1,h2,h3,h4,h5,h6, p, #myNavbar, a {
    font-family: "ADLaM Display", monospace;
    color: white;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

#myNavbar, #Logo-container, .w3-container {
    position: relative;
    z-index: 10;
}

#myNavbar a {
    font-size: 24px;
}