html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #589046;
}

body, h1, h2, h3, h4, h5, h6, p, #myNavbar, a {
    font-family: "ADLaM Display", monospace;
    color: white;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bg-nav-green {
    background-color: #416d34;
}

#myNavbar, #Logo-container, .w3-container {
    position: relative;
    z-index: 10;
}

#myNavbar a {
    font-size: 24px;
}

.custom-nav-flex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-zone-left, .nav-zone-right {
    flex: 1;
    display: flex;
}

.nav-zone-left {
    justify-content: flex-start;
}

.nav-zone-right {
    justify-content: flex-end;
}

.nav-zone-center {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

